<!DOCTYPE html>
<html lang='pt'>
	<head>
		<meta charset="UTF-8">
		<title>Home Page</title>
		<div class = "backg">
			<link rel="stylesheet" href="/templates/style.css">
		</div>
	</head>

	<body>
		<h1>
        	Sinfo Movies
		</h1><br>

		<h2>
		Qual o filme de Hoje?
		</h2><br><br>

		<form enctype="application/x-www-form-urlencoded" action="http://localhost:5000/busca_filmes" method = "POST">
  			<input name='search_by' placeholder="Digite o filme a ser buscado">
  			<button>Consultar</button>
		</form>

        	<div id="jinja2-div">
            		{% block content %}

            		{% endblock %}
		</div>

	</body>
</html>
